body{
    text-align: center;
    background-color: pink;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.judul{
    background-color: white;
    color: black;
}

.isi{
    background-color: white;
    color: black; 
}