{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<meta http-equiv="pragma" content="no-cache" />
	<title>Profil Diri</title>
</head>
<body class="body">
    <h1 class="judul">BIODATA</h1>
    <img src="{% static 'assets/115.png' %}" alt="Foto" style="width:300px;height:300px;">
    <p class="isi">
        Nama: Gibran Ridha Parlindungan Harahap<br>
        NPM: 1806191244<br>
        Angkatan: 2018<br>
        Hobi: Tidur<br>
        Deskripsi tentang Saya: Saya suka ngoding. Amiinn :(<br>
        Tempat Kuliah: Fakultas Ilmu Komputer Universitas Indonesia<br>
    </p>
</body>
</html>